body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #020c19;
            color: whitesmoke;
        }

        #d1 {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        .card {
            width: 30%;
            margin: 10px;
            border-radius: 20px;
            overflow: hidden;
            background-color: #141e2b;
        }

        .card img {
            width: 100%;
        }

        .featured {
            position: absolute;
            top: 0px;
            right: 0px;
            margin: 20px;
            padding: 5px 20px;
            border-radius: 5px;
            background-color: #208bf4;
        }

        .featured-card {
            position: relative;
        }
